body {
    background-color: rgb(193, 193, 193);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-card {
    height: 80vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.main-card {
    height: 100%;
    width: 30%;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}

.change-loc {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

.info-today-main {
    width: 100%;
    height: 350px;
    background-color: rgb(140, 153, 153);
}

.info-today-sub {
    /*  */
}

.sub-card {
    height: 100%;
    width: 70%;
}

.top-bar {
    height: 75px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
}

.top-bar > div {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: auto 10px auto;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.day-select {
    height: 200px;
    width: auto;
    background-color: aqua;
}

.highlights {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.highlights div {
    background-color: black;
    width: 180px;
    height: 144px;
    margin-top: 40px;
    margin-right: 20px;
}

.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-icon {
    height: 250px;
    width: auto;
    background-color: beige;
}

#main-img {
    width: 200px;
    object-position: center top;
}
