body {
    background-color: rgb(193, 193, 193);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-card {
    height: 80vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.main-card {
    height: 100%;
    width: 30%;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}

.change-loc {
    height: 70px;
    width: 100%;
    /* background-color: aliceblue; */
}

.info-today-main {
    width: 100%;
    height: 350px;
    /* background-color: aqua; */
}

.info-today-sub {
    /*  */
}

.sub-card {
    height: 100%;
    width: 70%;
}

.top-bar {
    background-color: black;
}

.day-select {
    height: 200px;
    width: auto;
    background-color: aqua;
}

.highlights {
    /*  */
}
